.leftdiv {height: 100vh; background-color:#000040;color:#fff;}
.leftdivicons{vertical-align: bottom}
.maindivbackground{background-color: #f3f4f6;}
.searchmargin{margin:0 -10px;height: 75px;}
.table-icons{color:#0D47A1}
.threedot{color:#0288d1 }
.maincontent{margin:0 12px; height: 100vh;}
.newwine{background-color:#333367}
