    <!-- Page Layout here -->
  <div>
    <div class="row ">
        <div class="col m2 border-right"> 
          <div class="pad viewheight">

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add New Wine</h4>
      <form #wineForm="ngForm" (ngSubmit) ="onSubmit(wineForm)" class="col s12">
          <div class="form-group">
            <input type="hidden" name="_id"  class="form-control" [(ngModel)]="wineService.selectedWine._id">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="wineService.selectedWine.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control" [(ngModel)]="wineService.selectedWine.description" name="description" required>
          </div>
          <div class="form-group">
            <label for="name">Type of Wine</label>
            <input type="text" class="form-control" [(ngModel)]="wineService.selectedWine.typeOfWine" name="typeOfWine" required>
          </div>
          <div class="form-group">
            <label for="name">Size</label>
            <input type="number" class="form-control" [(ngModel)]="wineService.selectedWine.size" name="size" required>
          </div>
          <div class="form-group">
            <label for="name">Price</label>
            <input type="text" class="form-control" [(ngModel)]="wineService.selectedWine.price" name="price" required>
          </div>
          <div class="form-group">
            <button class="btn btn-custom right" type="button" (click)="resetForm(wineForm)">Reset</button>
            <button class="btn btn-custom right" type="submit" [disabled]="!wineForm.valid">Submit</button>
          </div>
        </form>
    </div>
  </div>
      <!-- End if Modal -->   
          </div>
        </div>
        <div class="col m10 maindivbackground"> 
          <div class="app__topinfo pad-10 border-bottom white searchmargin">
            <div class="col m2">
              <select class="browser-default dropdown ">
                  <option value="1">All Wines</option>
                  <option value="2">Ciroc</option>
                  <option value="3">Pinot Grigio</option>
                </select>  
            </div>
            <div class="col m2">
                <select class="browser-default dropdown ">
                  <option value="1">Wine Types</option>
                  <option value="2">Ciroc</option>
                  <option value="3">Pinot Grigio</option>
                </select>
            </div>
            <div class="right col m2">
              <input class= "material-icons medium prefix  right-align" placeholder="search">
            </div>
          </div>
          <br>
          <div class="app__main pad white maincontent">
              <div class="col m12">
                  <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Wine</th>
                      <th>Size</th>
                      <th>Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr *ngFor="let w of wineService.wines" >
                    <td>{{w.name}}</td>
                    <td>{{w.description}}</td>
                    <td><div>{{w.typeOfWine}}</div></td>
                    <td>{{w.size}}</td>
                    <td>{{w.price}}</td>
                    <td> 
                        <a class="action-btn table-icons" (click)="onEdit(w) ">
                            <i class="material-icons">edit</i>
                        </a>

                        <a class="action-btn threedot" (click)="onEdit(w)">
                            <i class="material-icons">more_horiz</i>
                        </a>
                   
                  </td>
                  </tr>
                </table>
            </div> 



          </div>
          
            <div class="">
                <h1>Wine Drawer</h1>
                <div class="row">
                  <div class="col-md-6">
                    
                  </div>
                </div>
    
            
        </div>
      </div>
      </div>
            
  </div>
  
  