<!--The content below is only a placeholder and can be replaced.-->
    <!-- Navbar goes here -->
    <header>
      <nav class="nav-center" role="navigation">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">55Wines</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Wines<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href=""><i class="large material-icons icon-teal">add_alert</i></a></li>
            <li><a href=""> <i class="large material-icons">account_circle</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
  
        <app-wine class="maincontainer"></app-wine>     
    


