<!--The content below is only a placeholder and can be replaced.-->
    <!-- Navbar goes here -->
<div class="apphead">
    <div class="row border-bottom appheader">
      <div class="col m2 border-right">
        <div class="pad bold-700">55Wines</div>
      </div>
      <div class="col m10">
          <div class="">
              <div class="col m6">
                  <div class="pad">Premium Wines from 55</div>
              </div>
            <div class="col m6 right">
                <div class="right divicons ">
                    <div class="col m6 ">
                        <i class = "material-icons navicons">settings</i> 
                    </div>
                    <div class="col m6 ">
                        <i class="material-icons navicons ">notifications</i>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
    <div class="maincontainer">
        <app-wine></app-wine>  
    </div>
           
    


