<!--The content below is only a placeholder and can be replaced.-->
    <!-- Navbar goes here -->
<div class="apphead">
    <div class="row border-bottom">
      <div class="col m2 border-right">
        <div class="pad bold-700">55Wines</div>
      </div>
      <div class="col m10">
          <div class="">
              <div class="col m6">
                  <div class="pad">Premium Wines from 55</div>
              </div>
              <div class="col m6">
                <div class="pad-10 right-align">
                    <a class="btn waves-effect waves-light blue darken-4 modal-trigger" href="#modal1">New Wine
                        <i class="material-icons right">add</i>
                    </a>
                  </div>  
              </div>
          </div>
      </div>
  </div>
</div>
    <div class="maincontainer">
        <app-wine></app-wine>  
    </div>
           
    


